.button{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 103px;
    height: 43px;
    text-align: center;

    color: #fff;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
    transition: all 0.3s linear;
    font-family: 'Red Hat Text';

    font-weight: 500;
    font-size: 16px;
    &-nav{
        margin-top: 24px;
    }
    &:hover{
        background: #09434c;
    }
    &-search{
        width: 228px;
        padding: 5px 0;
        font-size: 24px;
        color: #FFFFFF;
        margin-right: 10px;
        
    }
    &-long{
        width: 228px;
        height: 59px;
        font-size: 24px;
        margin: 0 auto;
        margin-top: 53px;
        span{
            margin-left: 10px;
        }
    }
}
@media(max-width:991px) {
    .button{
        &-search{
            font-size: 18px;
        }
    }
}
@media(max-width:767px){
    .button{
        &-nav{
            display: none;
        }
    }
}
@media (max-width:575px){
    .button{
        &-search{
            width: 180px;
            padding: 5px 0;
            font-size: 15px;
        }
        &-long{
            width: 150px;
            height: 40px;
            font-size: 15px;
        }
    }
}